<!-- Hero Section -->
<section class="hero-section">
  <div class="hero-content" @fadeInUp>
    <h1>Welcome to My World</h1>
    <p>Discover my portfolio and projects.</p>
    <button mat-raised-button color="primary" routerLink="/portfolio" class="buttonViewPort">View Portfolio</button>
    <p class="toolbar-info">Click the logo on the top right corner to hide the toolbar.</p>
  </div>
</section>
<section class="about-section">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="about-avatar"></div>
      <mat-card-title>About Me</mat-card-title>
    </mat-card-header>
    <div class="about-content">
      <div class="about-text">
        <p>Hi there! I'm a full-stack developer with a rich background in building, testing, and perfecting software solutions across a variety of platforms and technologies. From deep technical knowledge in embedded systems to fluency in cutting-edge development practices, I'm equipped to take on complex challenges and innovate.</p>
        <p>My journey in tech began at ITAM, Mexico City, where I studied Applied Mathematics. It was here that my passion for coding took flight. Keen to fuse my analytical skills with creative problem solving, I delved into software development, making it not just my career but something I feel deeply passionate about.</p>
        <p>Curious about what else drives me? Explore my passions by clicking the logo above or dive straight into my portfolio to see my work in action!</p>
      </div>
      <div class="about-images">
        <img mat-card-image src="assets/images/andres5.jpeg" alt="Andres at a professional event">
        <img mat-card-image src="assets/images/andres1.jpeg" alt="Andres enjoying a casual day out">
        <img mat-card-image src="assets/images/andres4.jpeg" alt="Andres engaged in a coding session">
      </div>
    </div>
  </mat-card>
</section>

<section class="technologies-section">
  <h2 class="technologies-title">Technologies I've Worked With</h2>
  <div class="technologies-logos">
    <img src="assets/images/tecnologias/html-5.png" alt="Logo HTML" title="HTML" class="imagenlogos">
    <img src="assets/images/tecnologias/css-3.png" alt="Logo CSS" title="CSS" class="imagenlogos">
    <img src="assets/images/tecnologias/js.png" alt="Logo JavaScript" title="JavaScript" class="imagenlogos">
    <img src="assets/images/tecnologias/java.png" alt="Logo Java" title="Technology Java" class="imagenlogos">
    <img src="assets/images/tecnologias/c.png" alt="Logo C#" title="Technology C#" class="imagenlogos">
    <img src="assets/images/tecnologias/git.png" alt="Logo Git" title="Technology Git" class="imagenlogos">
    <img src="assets/images/tecnologias/github.png" alt="Logo Github" title="Technology Github" class="imagenlogos">
    <img src="assets/images/tecnologias/angular.png" alt="Logo Angular" title="Technology Angular" class="imagenlogos">
    <img src="assets/images/tecnologias/spring.png" alt="Logo Spring" title="Technology Spring" class="imagenlogos">
    <img src="assets/images/tecnologias/postgre.png" alt="PostgreSQL" title="Technology PostgreSQL" class="imagenlogos">
    <img src="assets/images/tecnologias/rest.png" alt="Logo RESTful" title="Technology RESTful" class="imagenlogos">
    <img src="assets/images/tecnologias/SOAP.png" alt="Logo SOAP" title="Technology SOAP" class="imagenlogos">
    <img src="assets/images/tecnologias/linux.png" alt="Logo Linux" title="Technology Linux" class="imagenlogos">
    <img src="assets/images/tecnologias/hibernate.png" alt="Logo Hibernate" title="Technology Hibernate" class="imagenlogos">
    <img src="assets/images/tecnologias/JPA.png" alt="Logo JPA" title="Technology JPA" class="imagenlogos">
    <img src="assets/images/tecnologias/postman.png" alt="Logo Postman" title="Technology Postman" class="imagenlogos">
    <img src="assets/images/tecnologias/jQuery.png" alt="Logo jQuery" title="Technology jQuery" class="imagenlogos">
    <img src="assets/images/tecnologias/react.png" alt="Logo React" title="Technology React" class="imagenlogos">
    <!-- Add more images as needed -->
  </div>
</section>

