.hero-section {
  background: url('../../../assets/images/background6.jpg') no-repeat 40% 70%;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;

}

h1 {
  font-size: 40px;
}

.hero-content {
  margin-top: 180px;
  width: 400px;
  background-color: #182130;
  padding: 2rem;
  border-radius: 10px;
  &:hover {
      background-color: darken(#182130, 10%);
      transform: translateY(-5px); // Subtle lift effect
    }
}

.buttonViewPort {
  margin: 20px 0px;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  &:hover {
      background-color: lighten(#1976d2, 10%);
      transform: scale(1.05); // Slight enlargement for visual feedback
    }
}

.about-section {
  display: flex;
  flex-direction: row; // Ensures content is laid out horizontally
  align-items: center; // Center aligns the items vertically
  padding: 4rem; // Padding around the entire section
  background: url('../../../assets/images/background3.jpg') no-repeat center center; // Set your background image
  background-size: cover; // Ensure background covers the entire section
  color: white; // Set text color for visibility
  width: 100%; // Ensure section spans the full width
}

mat-card {
  width: 30%; // Adjust width to your preference
  margin-right: auto;
   margin-left: 450px;// Keeps the card pinned to the left
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); // Adds depth with shadow
  border-radius: 15px; // Rounds the corners of the card
  background-color: rgba(255, 255, 255, 0.9); // Semi-transparent white for the card
  padding: 2rem; // Padding inside the card for content spacing


}

mat-card-title {
  font-size:30px;

}

mat-card:hover{

        transform: scale(1.02);

}

.about-content {
  display: flex;
  flex-direction: column; // Stacks children vertically
  align-items: flex-start; // Aligns children to the start of the flex container
}

mat-card-header {
  background-color: #20304a;
  color: white;
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem; // Larger font size for the title
  border-bottom: 5px solid #255784; // Adjusted color for a modern look
}



.about-text {
  text-align: center;
  color: #333;
  font-size: 1.5rem; // Larger font size for readability
  line-height: 2; // More space between lines for a clean look
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 18px;
}

.about-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

mat-card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  }
}


mat-card img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .about-images {
    grid-template-columns: 1fr;
  }

  .about-section {
      flex-direction: column; // Stacks section content vertically on small screens
      align-items: center; // Centers content horizontally
    }

    mat-card {
      width: 90%; // Increases width for smaller screens
      margin: 1rem 0; // Adds margin above and below on small screens
    }


  mat-card img {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.technologies-section {
  background: url('../../../assets/images/background4.jpg') no-repeat 20% 80%;


  padding: 4rem 0;

  text-align: center;
}

.technologies-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: white;
}

.technologies-logos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  grid-gap: 30px;
  padding: 0 3rem;
  max-width: 800px;
  margin: 0 auto;
  opacity: 100%;
}

.technologies-logos img {
  width: 100%;
  max-width: 150px;
  height: auto;
  padding: 1rem;
  object-fit: contain;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
}

.technologies-logos img:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .technologies-logos {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  padding: 1rem;
}

.logo-container img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.imagenlogos {
  margin-right: 20px;
}
