.passions-container {
  max-width: 1000px;
  margin: 200px auto;
  text-align: center;
  color: white;
}

.passions-container h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem; /* Larger and more readable title size */
  color: white; /* Gives the title a vibrant, lively color */
}

.passions-container p {
 margin-top: 40px;
  margin-bottom: 60px;
  font-size: 1.6rem; /* Slightly larger paragraph size for readability */
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 2rem;
  margin-top: 40px;
  padding: 0; /* Removes padding to align the grid with the container edges */
}

.video-container {
  background: #333; /* Keep the dark background */
  padding-top: 56.25%; /* 16:9 Aspect Ratio for the video */
  position: relative;
  border-radius: 8px; /* Rounded corners for the video container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for interactivity */
  margin: 1rem; /* Adds margin around the video container */
  border: 5px solid white; /* Adds a white border around the video container */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Removes the border from the iframe */
  border-radius: 4px; /* Applies border-radius to the iframe for rounded corners */
}

/* Additional hover effect for the video container */
.video-container:hover {
  transform: scale(1.15); /* Slight scale for interactive feedback */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); /* Larger shadow for a "lifting" effect */
}

h1 {
  color: white;
  margin-bottom: 50px;

}

p {
  margin-bottom: 50px;
  font-size: 30px;
  color:white;

}

@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: 1fr; /* Stack videos vertically on small screens */
  }
  .passions-container {
    margin: 20px auto; /* Smaller margin for better use of space */
  }
  .passions-container h1 {
    font-size: 24px; /* Smaller font size for headers */
  }
  .passions-container p {
    font-size: 18px; /* Smaller font size for paragraphs */
  }
}
