<div class="passions-container">
  <h1>My Passions</h1>
  <p>I love staying active and engaged in sports. Here are some highlights from my games.</p>
  <div class="video-grid">
    <!-- Repeat this block for each video -->
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/Jmblryo9JR0?si=QmA1_FnIZBaRbEch"
        title="YouTube video player"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/QLBvnowt_1w?si=jCR_nVzHWqXCB4iu"
        title="YouTube video player"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/PL5yEzMh2E0?si=Fq0I7adkzJf1In2F"
        title="YouTube video player"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/1439P7cs4Js?si=sLlKzoY7c3N2KIIs"
        title="YouTube video player"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/AX3nUKBpvKc?si=UcRkhHam8y-qRcPf"
        title="YouTube video player"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
    <!-- ... -->
  </div>
</div>


