.passions-container {
  max-width: 1600px;
  margin: 250px auto;
  text-align: center;
}

.passions-container h2 {
  margin-bottom: 2rem;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  grid-gap: 1rem;
}

.video-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  color: white;
  margin-bottom: 50px;

}

p {
  margin-bottom: 50px;
  font-size: 30px;
  color:white;

}

@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: 1fr; /* Stack videos vertically on small screens */
  }
  .passions-container {
    margin: 20px auto; /* Smaller margin for better use of space */
  }
  .passions-container h1 {
    font-size: 24px; /* Smaller font size for headers */
  }
  .passions-container p {
    font-size: 18px; /* Smaller font size for paragraphs */
  }
}
